body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.question-label{
	font-size: 25px;
}
.addStyle{
	
}
.question-operations{
	float:right;
}
footer {
  background-color: #ccc;
}